#content td,
#content th {
    padding: 0 15px 0 15px;
    text-align: center;
}

.red-border {
    border: 1px solid red;
}

.btn:focus {
    background-color: yellow;
    color: black;
}

.bold {
    font-weight: 700;
}

.padding-right {
    padding: 0 15px 0 0;
}

.normal-font-size {
    font-weight: 500;
}

.display-show {
    display: table-row;
}

.display-hide {
    display: none;
}

textarea {
    resize: none;
}